.main-header {
  grid-area: header;
}

main {
  grid-area: main;
  justify-self: stretch;
  height: 88vh;
  width: 100vw;
  @media all and (max-width: 600px) {
    overflow: auto;
  }
}

.main-footer {
  grid-area: footer;
}
