<section>
    <ul>
        <li *ngFor="let techno of technos">
            <div>
                <img src="{{ techno.logo }}" alt="{{ techno.name }} logo" width="50" height="50" />
                <span>{{ techno.name }}</span>
                <span style="margin-left: 20px">rating: {{ techno.rating }}</span>
            </div>
            <div>
                <p>{{ techno.description }}</p>
            </div>
        </li>
    </ul>
    <app-toto></app-toto>
    <app-tata></app-tata>
    <button type="button" (click)="addTechno()">New Techno</button>
</section>
