header {
  padding: 0 20px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5vh;
  a {
    display: inline-block;
    font-size: 1.3em;
    color: black;
    text-transform: uppercase;
    align-self: center;
    @media screen and (max-width: 600px){
      width: 100%;
      text-align: center;
    }
    b {
      font-weight: 900;
    }
  }
  nav {
    display: inline-block;
    align-self: center;
    @media screen and (max-width: 600px){
      display: none;
    }
    ul {
      margin: 0;
      li {
        font-weight: 300;
        a {
          text-transform: capitalize;
          padding: 0 0.5vw;
        }
      }
    }
  }
}
